@import "./global.scss";

.ContentBlock {
  background-color: $main-color;
  margin: 100px 0;
  padding: 0 70px;

  .row {
    overflow: visible;
  }

  &__description {
    padding: 70px 40px 30px;

    p,
    h2 {
      text-align: left;
      color: #000;
    }
  }

  &__image {
    transform: translateY(70px);
  }
}
