// Variables:
$main-color: #b2a093;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100&display=swap");

@mixin tablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

*::selection {
  color: #ffffff;
  background: $main-color;
}

* {
  font-family: "Roboto", sans-serif;
}

.page-container {
  max-width: 1250px;
  margin: auto;
}

.container {
  max-width: 1250px;
  padding: 0;
}

h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;

  @include tablet {
    font-size: 45px;
  }

  @include small {
    font-size: 45px;
  }
}

p {
  font-size: 16px;

  @include tablet {
    font-size: 16px;
  }

  @include small {
    font-size: 16px;
  }
}

.products-carousel {
  .carousel-cell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100%;
    position: relative;
  }
}

.thumbns-carousel {
  .carousel-cell {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 20px;
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
    width: 100px;
  }
}
