// Variables:
$main-color: #b2a093;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*::selection {
  color: #ffffff;
  background: $main-color;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.page-container {
  max-width: 1250px;
  margin: auto;
}

.container {
  max-width: 1250px;
  padding: 0;
}

h2 {
  font-size: 52px;
}

.products-carousel {
  .carousel-cell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.thumbns-carousel {
  .carousel-cell {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 20px;
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
    width: 100px;
  }
}
