@import "./global.scss";

.Products {
  margin-top: 50px;
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 0;
  }
  @include small {
    margin-bottom: 0;
  }

  &__read-more {
    padding: 0 30px;
    background-color: #fff;
    display: inline-block;
    margin: 50px auto 0 auto;

    &--container {
      background-color: transparent;
      border: 2px solid $main-color;
      font-size: 28px;
      position: relative;
      width: 220px;
      height: 50px;
    }

    &--background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -75%);
      background-color: $main-color;
      transition: transform 0.3s ease-out;
      letter-spacing: normal;

      a {
        color: #fff;
      }

      &:hover {
        transform: translate(-50%, -50%);
      }
    }
  }

  .ProductTile {
    margin: 50px 0;
    position: relative;

    &__content--mobile,
    &__title--mobile {
      display: none;

      @include tablet {
        display: block;
      }
      @include small {
        display: block;
      }
    }

    &__content--mobile {
      padding: 40px 40px 25px;
      background-color: $main-color;
    }

    &__title--mobile {
      .ProductTile__name {
        margin: 0;

        h2 {
          color: #000;
        }
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: unset;
      height: 100%;
      width: 30%;
      background-color: rgba(255, 255, 255, 0.85);

      @include tablet {
        display: none;
      }

      @include small {
        display: none;
      }
    }

    &:nth-child(odd) {
      .ProductTile__overlay {
        left: unset;
        right: 0;
      }

      .flickity-prev-next-button.next {
        display: none;

        @include tablet {
          display: block;
        }

        @include small {
          display: block;
        }
      }

      .flickity-prev-next-button.previous {
        display: block;
      }
    }

    .flickity-prev-next-button.previous {
      display: none;

      @include tablet {
        display: block;
      }

      @include small {
        display: block;
      }
    }

    .flickity-viewport {
      @include tablet {
        background-color: $main-color;
      }

      @include small {
        background-color: $main-color;
      }
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 30px;
      text-align: left;
    }

    &__short-description {
      p {
        text-align: left;
        color: #000;
        line-height: 1.5em;
        font-weight: 600;

        @include tablet {
          color: #fff;
        }

        @include small {
          color: #fff;
        }
      }
    }

    &__price {
      text-align: left;
      color: #000;
      font-weight: 600;

      @include tablet {
        color: #fff;
      }

      @include small {
        color: #fff;
      }
    }

    &__name {
      margin: 30px 0;
      border-bottom: 3px solid #000;

      h2 {
        text-align: left;
        color: #000;

        @include tablet {
          margin-left: 15px;
          color: #fff;
        }
        @include small {
          margin-left: 15px;
          color: #fff;
        }
      }
    }

    &__button {
      text-align: left;
      margin: 30px 0;

      a {
        border: 2px solid #000;
        background: none;
        color: #000;
        padding: 10px 18px;
        background: linear-gradient(
          to left,
          rgb(255, 255, 255) 50%,
          rgb(0, 0, 0) 50%
        );
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.9s cubic-bezier(0.43, 0.045, 0.1, 0.95);
        font-weight: 600;

        &:hover {
          background-position: left bottom;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
